out_to_x no
own_window no
out_to_console yes
background no
max_text_width 0
update_interval 2.0

# This is the number of times Conky will update before quitting.
# Set to zero to run forever.
total_run_times 0

# Shortens units to a single character (kiB->k, GiB->G, etc.). Default is off.
short_units yes

# Add spaces to keep things from moving about?  This only affects certain objects.
# use_spacer should have an argument of left, right, or none
use_spacer left

# Force UTF8? note that UTF8 support required XFT
override_utf8_locale no

# number of cpu samples to average
# set to 1 to disable averaging
cpu_avg_samples 2

# Stuff after 'TEXT' will be formatted on screen
TEXT
^fg(\#268BD2)${eval Load:} ^fg(\#CCC)${loadavg 1} ^fg(\#333)${eval |} ^fg(\#27AE60)${eval RAM:} ^fg(\#CCC)${memperc}${eval %} ^fg(\#333)${eval |} ^fg(\#E74C3C)${eval CPU:} ^fg(\#CCC)${exec sensors | grep 'Physical id 0' | awk '{print $4}' | cut -c2-3}${eval °C} ^fg(\#333)${eval |} ^fg(\#E74C3C)${eval GPU:} ^fg(\#CCC)${execi 60 nvidia-smi -q -d temperature | grep  "GPU Current Temp" | cut -c39-40}${eval °C} ^fg(\#333)${eval |} ^fg(\#AA79BE)${eval HDD0:}^fg(\#CCC) ${fs_free /media/HDD0} ^fg(\#333)${eval |} ^fg(\#F39C12)${eval VPN:} ^fg(\#CCC)${if_empty ${execi 30 cat /proc/net/route | grep tun0}}^fg(\#DC322F)Disconnected!${else}^fg(\#CCC)Connected${color}${endif} ^fg(\#333)${eval |} ^fg(\#1ABC9C)${eval Vol:} ^fg(\#CCC)${execi 5 sh "$HOME/Scripts/volume_print.sh"} ^fg(\#333)${eval |} ^fg()${time %a %b %d, %H:%M}
